<!DOCTYPE html>
<html ng-app="app" lang="en">
  <head>
    <meta charset="utf-8">
    <link href="style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>To Do List</title>
  </head>
<body>
  <div id="list" ng-controller="FormController as form">
  <h1>TO DO List</h1>
  <p>A place to store the things you have to do!</p>
  <input type="text" placeholder="filter your to-dos" ng-model="todoFilter">
  <ol>
    <li ng-repeat="item in form.todoList | filter: todoFilter track by $index">{{item}}<i class="material-icons" ng-click="form.remove(form.index)">close</i></li>
  </ol>
  <input id="addToDo" type="text" placeholder="Add your to-do" ng-model="form.item">
  <br>
  <br>
  <button type="button" ng-click="form.addItem(form.item)">Add</button>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js" charset="utf-8"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
</body>
</html>
